ul.rank{
  margin-bottom:15px;
  margin-left: 5px;
}
ul.rank>li,ul.news>li{
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}
ul.rank>li:last-child{
  border: none;
}
ul.rank>li>img{
  float:left;
  width:60px;
  height: 60px;
}
ul.rank>li>p{
  margin-left: 70px;
  font-size: 0.8em;
}


div.news{
  display: inline-block;
  box-sizing: border-box;;
  float:left;
  width:60px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
div.news>p{
  float:left;
  font-size: 0.75em;
}
div.news>img{
  /*float:left;*/
  padding:2px;
  background: #fff;
  border:1px solid #ccc;
  width: 100px;
}

.badge{
  background: #f00;
  color:#fff;
  font-size: 0.6em;
  padding:2px 4px 3px;
  position: absolute;
  top:0px;
  left:0px;
}
